<!-- Selección de acciones -->
<br>
<br>
<div class="container mt-4 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <!-- Sección Usuarios -->
      <div class="col-12 col-md-6 mb-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <!-- Imagen con animación fadeIn -->
            <img src="assets/usuario.png" alt="Usuarios" class="animate__animated animate__fadeIn" style="width: 80px; height: auto;" />
            <h4 class="card-title">Usuarios</h4>
            <p class="card-text">Gestiona los usuarios del sistema</p>
            <button class="btn btn-primary btn-lg">
              <a href="/usuario" class="text-decoration-none text-light">Ir a Usuarios</a>
            </button>
          </div>
        </div>
      </div>

      <!-- Sección Productos -->
      <div class="col-12 col-md-6 mb-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <!-- Imagen con animación fadeIn -->
            <img src="assets/products.png" alt="Usuarios" class="animate__animated animate__fadeIn" style="width: 80px; height: auto;" />
            <h4 class="card-title">Productos</h4>
            <p class="card-text">Gestiona los productos del sistema</p>
            <button class="btn btn-primary btn-lg">
              <a href="/product" class="text-decoration-none text-light">Ir a Productos</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4 d-flex justify-content-center align-items-center">
  <div class="card shadow">
    <div class="card-body">
      <div class="row mt-4" class="animate__animated animate__fadeIn">
        <!-- Nueva fila para las tres imágenes debajo de las secciones -->
        <div class="row mt-4">
          <!-- Imagen 1 -->
            <img src="assets/pig_iron.jpeg" alt="Imagen uno" style="width: 100%; max-width: 300px; height: auto;"/>
          <!-- Imagen 2 -->
            <img src="assets/pig_thor.jpeg" alt="Imagen dos" style="width: 100%; max-width: 300px; height: auto;"/>
          <!-- Imagen 3 -->
            <img src="assets/pig_hammer.jpeg" alt="Imagen tres" style="width: 100%; max-width: 300px; height: auto;"/>
          </div>
      </div>
    </div>
  </div>
</div>